name: "Build workflow"

on:
  push:
    branches: [ "main", "next" ]
    paths-ignore:
      - "**.md"
      - "LICENSE"
      - "PRIVACY"
      - ".github/*"
      - ".vscode/*"
      - ".devcontainer/*"
      - "!.github/workflows/pr-workflow.yml"
  pull_request:
    branches: [ "main", "next" ]
    paths-ignore:
      - "**.md"
      - "LICENSE"
      - "PRIVACY"
      - ".github/*"
      - ".vscode/*"
      - ".devcontainer/*"
      - "!.github/workflows/pr-workflow.yml"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - run: dotnet restore
      - run: dotnet build --no-restore
      - run: dotnet test --no-restore --verbosity normal

      - run: dotnet pack --no-restore --configuration Debug

      - name: Drop SimpleOTP
        uses: actions/upload-artifact@main
        with:
          name: SimpleOTP
          path: libraries/SimpleOTP/bin/Debug/EugeneFox.SimpleOTP*.*nupkg

      - name: Drop SimpleOTP.DependencyInjection
        uses: actions/upload-artifact@main
        with:
          name: SimpleOTP.DependencyInjection
          path: libraries/SimpleOTP.DependencyInjection/bin/Debug/EugeneFox.SimpleOTP.DependencyInjection*.*nupkg
